ConfigApiSharp/Connected Services/ConfigurationApiService/ConfigurationApiService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://VideoOS.Net/ConfigurationService" elementFormDefault="qualified" targetNamespace="http://VideoOS.Net/ConfigurationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" />
  <xs:import schemaLocation="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetItemResult" nillable="true" type="q1:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetItemsResult" nillable="true" type="q2:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="item" nillable="true" type="q3:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="SetItemResult" nillable="true" type="q4:ValidateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasChildItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasChildItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasChildItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetChildItemsResult" nillable="true" type="q5:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemType" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="properties" nillable="true" type="q6:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="ConstructItemResult" nillable="true" type="q7:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructChildItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructChildItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="ConstructChildItemResult" nillable="true" type="q8:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="item" nillable="true" type="q9:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="ValidateItemResult" nillable="true" type="q10:ValidateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDependantItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDependantItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetDependantItemsResult" nillable="true" type="q11:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetMethodInfosResult" nillable="true" type="q12:ArrayOfMethodInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="methodId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="GetMethodInfoResult" nillable="true" type="q13:MethodInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="item" nillable="true" type="q14:ConfigurationItem" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" minOccurs="0" name="InvokeMethodResult" nillable="true" type="q15:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTranslationsResult" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>