ConfigApiSharp/Connected Services/ConfigurationApiService/ConfigurationApiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://VideoOS.Net/ConfigurationService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="urn:videoos:management:server:configurationapiservice" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IConfigurationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://VideoOS.Net/ConfigurationService" location="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc?wsdl=wsdl0" />
  <wsdl:import namespace="urn:videoos:management:server:configurationapiservice" location="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IConfigurationService" type="i0:IConfigurationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IConfigurationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/SetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HasChildItems">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/HasChildItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChildItems">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetChildItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConstructItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/ConstructItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConstructChildItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/ConstructChildItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/ValidateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDependantItems">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetDependantItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMethodInfos">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetMethodInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMethodInfo">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetMethodInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InvokeMethod">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/InvokeMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTranslations">
      <soap:operation soapAction="http://VideoOS.Net/ConfigurationService/IConfigurationService/GetTranslations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NotSupportedExceptionFaultFault">
        <soap:fault use="literal" name="NotSupportedExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServerExceptionFaultFault">
        <soap:fault use="literal" name="ServerExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PathNotFoundExceptionFaultFault">
        <soap:fault use="literal" name="PathNotFoundExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedAccessFaultFault">
        <soap:fault use="literal" name="UnauthorizedAccessFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentNullExceptionFaultFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="LicenseExceptionFaultFault">
        <soap:fault use="literal" name="LicenseExceptionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationApiService">
    <wsdl:port name="BasicHttpBinding_IConfigurationService" binding="tns:BasicHttpBinding_IConfigurationService">
      <soap:address location="https://usvm-xpco-01.support.us.local/ManagementServer/ConfigurationApiService.svc" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IConfigurationService" binding="i1:WSHttpBinding_IConfigurationService">
      <soap12:address location="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JH@Support.us.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IConfigurationService1" binding="i1:WSHttpBinding_IConfigurationService">
      <soap12:address location="urn:videoos:management:server:configurationapiservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>urn:videoos:management:server:configurationapiservice</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JH@Support.us.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>