ConfigApiSharp/Connected Services/ConfigurationApiService/ConfigurationApiService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoOS.ConfigurationAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xprotect/ManagementServer/ConfigurationApiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigurationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfConfigurationItem" />
      <xs:element minOccurs="0" name="ChildrenFilled" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableProperty" nillable="true" type="tns:EnablePropertyInfo" />
      <xs:element minOccurs="0" name="ItemCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodIds" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ParentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="ServerCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortKey" type="xs:int" />
      <xs:element minOccurs="0" name="UIHint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationItem" nillable="true" type="tns:ConfigurationItem" />
  <xs:complexType name="ArrayOfConfigurationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationItem" nillable="true" type="tns:ConfigurationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigurationItem" nillable="true" type="tns:ArrayOfConfigurationItem" />
  <xs:complexType name="EnablePropertyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="TranslationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIToFollowEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnablePropertyInfo" nillable="true" type="tns:EnablePropertyInfo" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSettable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemReference" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedValueTypeInfoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerValidation" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortKey" type="xs:int" />
      <xs:element minOccurs="0" name="ToolTipTranslationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIImportance" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueTypeInfos" nillable="true" type="tns:ArrayOfValueTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="ArrayOfValueTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTypeInfo" nillable="true" type="tns:ValueTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTypeInfo" nillable="true" type="tns:ArrayOfValueTypeInfo" />
  <xs:complexType name="ValueTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTypeInfo" nillable="true" type="tns:ValueTypeInfo" />
  <xs:complexType name="ItemTypes">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ItemTypes" nillable="true" type="tns:ItemTypes" />
  <xs:complexType name="ValidateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorResults" nillable="true" type="tns:ArrayOfErrorResult" />
      <xs:element minOccurs="0" name="ResultItem" nillable="true" type="tns:ConfigurationItem" />
      <xs:element minOccurs="0" name="ValidatedOk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateResult" nillable="true" type="tns:ValidateResult" />
  <xs:complexType name="ArrayOfErrorResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorResult" nillable="true" type="tns:ErrorResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorResult" nillable="true" type="tns:ArrayOfErrorResult" />
  <xs:complexType name="ErrorResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorTextId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResult" nillable="true" type="tns:ErrorResult" />
  <xs:complexType name="ArrayOfMethodInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodInfo" nillable="true" type="tns:MethodInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodInfo" nillable="true" type="tns:ArrayOfMethodInfo" />
  <xs:complexType name="MethodInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bitmap" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodInfo" nillable="true" type="tns:MethodInfo" />
</xs:schema>