ConfigApiSharp/Connected Services/ServerCommandService/ServerCommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoOS.Common.Proxy.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoOS.Common.Proxy.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://corporatems2/ManagementServer/ServerCommandService.svc?xsd=xsd0" namespace="http://videoos.net/2/XProtectCSServerCommand" />
  <xs:simpleType name="RetentionOptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unused" />
      <xs:enumeration value="Days" />
      <xs:enumeration value="Weeks" />
      <xs:enumeration value="Months" />
      <xs:enumeration value="Years" />
      <xs:enumeration value="UserDefined" />
      <xs:enumeration value="Indefinite" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RetentionOptionType" nillable="true" type="tns:RetentionOptionType" />
  <xs:complexType name="ViewGroupInternal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViewGroupData" nillable="true" type="tns:ViewGroupInternalData" />
      <xs:element xmlns:q1="http://videoos.net/2/XProtectCSServerCommand" minOccurs="0" name="ViewGroupInfo" nillable="true" type="q1:ViewGroupInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewGroupInternal" nillable="true" type="tns:ViewGroupInternal" />
  <xs:complexType name="ViewGroupInternalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataVersion" type="xs:int" />
      <xs:element minOccurs="0" name="ViewGroupDataXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlVersion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewGroupInternalData" nillable="true" type="tns:ViewGroupInternalData" />
  <xs:complexType name="CustomSettingInternal">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomSettingData" nillable="true" type="tns:CustomSettingInternalData" />
      <xs:element xmlns:q2="http://videoos.net/2/XProtectCSServerCommand" minOccurs="0" name="CustomSettingInfo" nillable="true" type="q2:CustomSettingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomSettingInternal" nillable="true" type="tns:CustomSettingInternal" />
  <xs:complexType name="CustomSettingInternalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomSettingDataXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVersion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomSettingInternalData" nillable="true" type="tns:CustomSettingInternalData" />
  <xs:simpleType name="ResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="PartlySuccess" />
      <xs:enumeration value="MarkedDataNotFound" />
      <xs:enumeration value="FeatureNotLicensed" />
      <xs:enumeration value="RecorderNotFound" />
      <xs:enumeration value="ManagementServerUnavailable" />
      <xs:enumeration value="Unauthorized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultStatus" nillable="true" type="tns:ResultStatus" />
  <xs:simpleType name="SortOrderOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Header" />
      <xs:enumeration value="Description" />
      <xs:enumeration value="StartTime" />
      <xs:enumeration value="TagTime" />
      <xs:enumeration value="EndTime" />
      <xs:enumeration value="CreateTime" />
      <xs:enumeration value="RetentionExpireTime" />
      <xs:enumeration value="UserName" />
      <xs:enumeration value="Size" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrderOption" nillable="true" type="tns:SortOrderOption" />
</xs:schema>